
.menu {
    text-align: center;
    margin: 0 auto;
}
.links {
    text-align: center;
    margin-top: 0;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0;
}

a {
    display: block;
    text-decoration: none;
    font-size: 3rem;
}